<div class="container mt-5">
  <div class="row">
    <div class="col">
      <% if @user %>
        <div class="container mt-5 text-center">  <!-- Added text-center -->
          <!-- Image -->
          <%= image_tag 'banner.jpg', alt: 'User Banner', class: 'img-fluid mb-4 mx-auto d-block', style: 'width: 50%; border-radius: 4px;' %>
          
          <!-- Google search bar -->
          <form action="https://www.google.com/search" class="form-inline justify-content-center" method="get"> <!-- Added justify-content-center -->
            <input type="text" name="q" class="form-control mr-2" placeholder="Search Google">
          </form>
        </div>
        
        <div class="card mt-4">
          <div class="card-body">
            <ul class="list-group">
              <% @links.each do |link| %>
                <li class="list-group-item">
                  <% if link.links_enabled %>
                    <a href="<%= link.links_url %>">
                      <i class="<%= link.links_icon %>"></i> <%= link.links_display_name %>
                    </a>
                  <% end %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      <% else %>
        <h1 class="display-4">Welcome to Loftwah's Dashboard</h1>
        <p class="lead mt-4">Please sign in to see your personalized settings.</p>
      <% end %>
    </div>
  </div>
</div>
