<%= form_with(model: @user, url: settings_path, local: true, html: { class: 'needs-validation', novalidate: '' }) do |f| %>
  <div class="container mt-4">
    <div class="row">
      <div class="col-12 col-md-8 mx-auto">
        <h3 class="mb-3 text-center text-light">Update Settings</h3>
        <div class="card">
          <div class="card-body">
            <%= render 'shared/user_fields', f: f %>
          </div>
          <div class="card-footer text-center">
            <%= f.submit 'Update Settings', class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
