/* To make placeholder text white */
.custom-placeholder::placeholder {
    color: white;
    opacity: 1; /* Firefox */
  }
  
  /* For Internet Explorer */
  .custom-placeholder:-ms-input-placeholder {
    color: white;
  }
  
  /* For Microsoft Edge */
  .custom-placeholder::-ms-input-placeholder {
    color: white;
  }
  
  /* Style for pinned links */
.pinned {
    border: 2px solid gold;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(255, 215, 0, 0.2); /* light gold background */
  }  

  .bg-dark {
    background-color: #0E0B1F !important;
  }

  .bg-translucent-dark {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1rem;
    border-radius: 0.5rem;
  }
  
  .custom-container {
    // max-width: 90%;  /* or whatever maximum width you'd like */
    margin: auto;
  }

  @media (max-width: 992px) {
    .navbar-nav {
      justify-content: center;
      width: 100%;
    }
    
    .navbar-nav .nav-item {
      padding: 0 10px;
    }
  
    /* Style for toggler */
    .navbar-toggler {
      border: 1px solid rgba(255, 255, 255, 0.3);  /* Lighter border */
    }
    
    .navbar-toggler-icon {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    }

    .navbar-toggler:focus, .navbar-toggler:active {
      outline: none;
      box-shadow: none;
      border: 1px solid rgba(255, 255, 255, 0.3); /* You can adjust this */
    }
    
    /* Add some background and padding to the expanded menu */
    #navbarNav {
      background: #0E0B1F;  /* Dark theme color */
      padding: 1rem;
    }
    
    /* Style individual nav items */
    .nav-item {
      background: rgba(255, 255, 255, 0.1); /* Slight white background */
      margin: 0.25rem 0;
      border-radius: 12px;
    }
  
    /* Style the nav links */
    .nav-link {
      color: rgba(255, 255, 255, 0.7) !important;  /* Light grey */
    }
  
    /* Add hover color */
    .nav-link:hover {
      color: rgba(255, 255, 255, 0.9) !important; /* Almost white */
    }
  }
  
  .sortable-chosen {
    opacity: 0.6;
}

.sortable-over {
    border: 2px solid #333;
}

.kanban {
  display: flex;
  margin: 24px;
}
.kanban-col {
  list-style: none;
  width: 160px;
  padding: 0;
  margin-left: 8px;
}
.kanban-col-name {
  background-color: lightblue;
  text-align: center;
  margin-bottom: 16px;
  padding: 16px;
}
.kanban-col-item {
  background-color: white;
  margin-bottom: 4px;
  padding: 16px;
  cursor: grab;
}
.kanban-col-item:active {
  cursor: grabbing;
}