/* To make placeholder text white */
.custom-placeholder::placeholder {
    color: white;
    opacity: 1; /* Firefox */
  }
  
  /* For Internet Explorer */
  .custom-placeholder:-ms-input-placeholder {
    color: white;
  }
  
  /* For Microsoft Edge */
  .custom-placeholder::-ms-input-placeholder {
    color: white;
  }
  
  /* Style for pinned links */
.pinned {
    border: 2px solid gold;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(255, 215, 0, 0.2); /* light gold background */
  }  

  .bg-dark {
    background-color: #0E0B1F !important;
  }

  .bg-translucent-dark {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1rem;
    border-radius: 0.5rem;
  }
  
  .custom-container {
    // max-width: 90%;  /* or whatever maximum width you'd like */
    margin: auto;
  }
  