<div id="<%= dom_id kanban %>">
  <p>
    <strong>Name:</strong>
    <%= kanban.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= kanban.description %>
  </p>

  <p>
    <strong>Cards:</strong>
    <%= kanban.cards %>
  </p>

</div>
